{% extends 'base.html' %}
{% block title %}Add Tracker{% endblock %}
{% block content %}

<form method="post">

    <div class="form-group">

        <h2>Add Tracker</h2>

        <div>


            <br>

        <label for="name">Name</label>
        <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Tracker name"
            maxlength="30"
            
            required
        />
        <label for="description">Description</label>
        <textarea
            class="form-control"
            id="description"
            name="description"
            placeholder="Enter tracker description"
            maxlength="200"
            required
        ></textarea>


        <label for="type">Tracker Type</label>
                    <select id="type"  class="form-control"  name="type" required>
                        <option value="Numerical">Numerical</option>
                        <option value="Multiple Choice">Multiple Choice</option>
                        <option value="Time Duration">Time Duration</option>
                        <option value="Boolean">Boolean</option>


                    </select>

        <label for="settings">Settings <small>(Optional)</small></label>
        <input
            type="text"
            class="form-control"
            id="settings"
            name="settings"
            placeholder="Enter tracker settings"
            maxlength="80"

        />

        <br>
        <button type="submit" class="btn btn-primary"><b>Add Tracker</b></button>

        </div>


    </div>
</form>

{% endblock %}