{% extends 'base.html' %}
{% block title %}Add Tracker{% endblock %}
{% block content %}


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-4 text-center">
              <div class="mb-md-4 mt-md-4 pb-4">
                <h2 class="fw-bold mb-2 text-uppercase">Edit Tracker</h2>
                <form method="post">
                    <div class="form-group">
                        <div>
                            <br>
                        <label for="name">Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder="{{ tracker.name }}"
                            maxlength="30"         
                            disabled
                        />
                        <label for="description">Description</label>
                        <textarea
                            class="form-control"
                            id="description"
                            name="description"
                            maxlength="200"
                            
                        >{{ tracker.description }}</textarea>
                        <label for="type">Tracker Type</label>
                                    <select id="type"  class="form-control"  name="type" required>
                                        {% if tracker.type=="Numerical" %}
                                        <option value="Numerical" selected>Numerical</option>
                                        {% else %}
                                        <option value="Numerical">Numerical</option>
                                        {% endif %}
                                        {% if tracker.type=="Multiple Choice" %}
                                        <option value="Multiple Choice"  selected>Multiple Choice</option>
                                        {% else %} 
                                        <option value="Multiple Choice">Multiple Choice</option>
                                        {% endif %}
                                        {% if tracker.type=="Time Duration" %}
                                        <option value="Time Duration"  selected>Time Duration</option>
                                        {% else %}
                                        <option value="Time Duration" >Time Duration</option>
                                        {% endif %}
                                        {% if tracker.type=="Boolean" %}
                                        <option value="Boolean"  selected >Boolean</option>
                                        {% else %}
                                        <option value="Boolean">Boolean</option>
                                        {% endif %}
                
                                    </select>
                        <label for="settings">Settings <small>(Optional)</small></label>
                        <input
                            type="text"
                            class="form-control"
                            id="settings"
                            name="settings"
                            value="{{ tracker.settings }}"
                            maxlength="80"
                        />
                        <br>
                        <button type="submit" class="btn btn-primary"><b>Update Tracker</b></button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}